
<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">


			<nav>

				<ul>


					
					

					<li class="user_tab side_tab">
						<a href="/user/index/"><i class="fa fa-lg fa-fw fa-user-secret"></i> <span class="menu-item-parent">Users</span></a>
					</li>

					<li class="home_tab side_tab">
						<a href="/home/index/"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Properties</span></a>
					</li>
				</ul>
			</nav>
			

			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>

		</aside>
		<!-- END NAVIGATION -->
